@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}


.fontPoppins{
  font-family:  var(--font-poppins), -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
.gradient-border-orange {
  background: url('../../public/uploads/dashboard/orange-border.svg') no-repeat top;
  background-size: cover;
}

.gradient-border-blue { 
  background: url('../../public/uploads/dashboard/blue-border.svg') no-repeat top;
  background-size: cover;
}
.gradient-border-green { 
  background: url('../../public/uploads/dashboard/green-border.svg') no-repeat top;
  background-size: cover;
}